<app-button-bar
  (modeToggled)="onModeToggled($event)"
  (exportar)="exportarJSON()"
  (importar)="seleccionarArchivo()"
  (limpiar)="limpiarCanvas()"
>
  <button mat-raised-button color="primary" (click)="exportarJSON()">
    Exportar
  </button>

  <button mat-raised-button color="primary" (click)="seleccionarArchivo()">
    Importar
  </button>
</app-button-bar>
<input
  type="file"
  id="fileInput"
  (change)="onFileSelected($event)"
  style="display: none"
/>
<!--<div>
  <label for="colorPicker">Selecciona el color de fondo:</label>
  <input type="color" id="colorPicker" [(ngModel)]="colorFondo" />
  <button (click)="cambiarColorFondo()">Aplicar</button>
</div>-->
<div class="container-canvas">
  <canvas
    #myCanvas
    class="myCanvas"
    id="myCanvas"
    width="1200px"
    height="700px"
    (dblclick)="dobleClickCanvas($event)"
    (click)="clickCanvas($event)"
  >
  </canvas>
</div>
