<app-button-bar (modeToggled)="onModeToggled($event)"></app-button-bar>
<div>
  <button mat-raised-button color="primary" (click)="exportarJSON()">
    Exportar
  </button>

  <button mat-raised-button color="primary" (click)="seleccionarArchivo()">
    Importar
  </button>
  <input
    type="file"
    id="fileInput"
    (change)="onFileSelected($event)"
    style="display: none"
  />
</div>
<!--<div>
  <label for="colorPicker">Selecciona el color de fondo:</label>
  <input type="color" id="colorPicker" [(ngModel)]="colorFondo" />
  <button (click)="cambiarColorFondo()">Aplicar</button>
</div>-->
<div class="canvas-container">
  <canvas #myCanvas id="myCanvas" width="1200px" height="700px"></canvas>
</div>
