<app-button-bar
  (modeToggled)="onModeToggled($event)"
  (exportar)="exportar()"
  (importar)="seleccionarArchivo()"
  (limpiar)="limpiarCanvas()"
>
</app-button-bar>

<div class="container">
  <div class="canvas-container" #canvasContainer>
    <canvas
      #myCanvas
      class="myCanvas"
      id="myCanvas"
      [width]="canvasWidth"
      [height]="canvasHeight"
      (dblclick)="dobleClickCanvas($event)"
      (click)="clickCanvas($event)"
      (contextmenu)="menuContexto($event)"
    >
    </canvas>
  </div>
</div>

<input
  type="file"
  id="fileInput"
  (change)="onFileSelected($event)"
  style="display: none"
/>
<!-- Menú contextual general -->
<div
  class="menu-trigger"
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="contextMenu"
  [style.left]="menuPosition.x"
  [style.top]="menuPosition.y"
></div>

<!-- Menú contextual dinámico -->
<mat-menu #contextMenu="matMenu">
  <!-- Opciones para el Canvas -->
  @if (selectedElement?.type === "canvas") {
    <button mat-menu-item (click)="cambiarColorFondo()">
      <i class="bx bxs-color-fill"></i>
      <span>Cambiar Color de Fondo</span>
    </button>
    <button mat-menu-item (click)="limpiarCanvas()">
      <i class="bx bx-x"></i>
      <span>Limpiar Canvas</span>
    </button>
  }

  <!-- Opciones para Nodos -->
  @if (selectedElement?.type === "node") {
    <button mat-menu-item (click)="editarNombre()">
      <i class="bx bx-edit"></i>
      <span>Editar Nombre</span>
    </button>
    <button mat-menu-item (click)="cambiarColorNodo()">
      <i class="bx bx-color-fill"></i>
      <span>Cambiar Color</span>
    </button>
    <button mat-menu-item (click)="eliminarNodo()">
      <i class="bx bx-trash"></i>
      <span>Eliminar Nodo</span>
    </button>
  }

  <!-- Opciones para Conexiones -->
  @if (selectedElement?.type === "connection") {
    <button mat-menu-item (click)="editarPeso()">
      <i class="bx bx-edit"></i>
      <span>Editar Peso</span>
    </button>
    <button mat-menu-item (click)="toggleDirigido()">
      <i class="bx bx-transfer"></i>
      <span>Cambiar Dirección</span>
    </button>
    <button mat-menu-item (click)="eliminarConexion()">
      <i class="bx bx-trash"></i>
      <span>Eliminar Conexión</span>
    </button>
  }
</mat-menu>
