<mat-toolbar color="primary" class="navbar">
  <a mat-button routerLink="/home" class="brand">
    <i class="bx bx-scatter-chart"></i>
    <span>Análisis de Algoritmos o cualquier texto</span>
  </a>

  <nav class="nav-links">
    @for (ruta of rutas; track ruta.path) {
      @if (ruta.submenu) {
        <button
          mat-button
          [matMenuTriggerFor]="submenu"
          [matTooltip]="ruta.description"
          class="nav-link"
        >
          <i class="bx {{ ruta.icon }}"></i>
          <span>{{ ruta.label }}</span>
        </button>
        <mat-menu #submenu="matMenu">
          @for (subItem of ruta.submenu; track subItem.path) {
            <a
              mat-menu-item
              [routerLink]="subItem.path"
              [class.active-link]="isRouteActive(subItem.path)"
            >
              <i class="bx {{ subItem.icon }}"></i>
              <span>{{ subItem.label }}</span>
              <small class="route-description">{{ subItem.description }}</small>
            </a>
          }
        </mat-menu>
      } @else {
        <a
          mat-button
          [routerLink]="ruta.path"
          [class.active-link]="isRouteActive(ruta.path)"
          [matTooltip]="ruta.description"
          class="nav-link"
        >
          <i class="bx {{ ruta.icon }}"></i>
          <span>{{ ruta.label }}</span>
        </a>
      }
    }
    
  </nav>
  <button mat-button (click)="themeService.toggleTheme()">
    <i class="bx" [ngClass]="themeService.isDarkMode() ? 'bx-moon' : 'bx-sun'"></i>
  </button>

  <button mat-button [matMenuTriggerFor]="menu" class="menu-mobile">
    <i class="bx bx-menu"></i>
  </button>

  

  <mat-menu #menu="matMenu">
    @for (ruta of rutas; track ruta.path) {
      @if (ruta.submenu) {
        <button mat-menu-item [matMenuTriggerFor]="mobileSubmenu">
          <i class="bx {{ ruta.icon }}"></i>
          <span>{{ ruta.label }}</span>
          <small class="route-description">{{ ruta.description }}</small>
        </button>
        <mat-menu #mobileSubmenu="matMenu">
          @for (subItem of ruta.submenu; track subItem.path) {
            <a
              mat-menu-item
              [routerLink]="subItem.path"
              [class.active-link]="isRouteActive(subItem.path)"
            >
              <i class="bx {{ subItem.icon }}"></i>
              <span>{{ subItem.label }}</span>
              <small class="route-description">{{ subItem.description }}</small>
            </a>
          }
        </mat-menu>
      } @else {
        <a
          mat-menu-item
          [routerLink]="ruta.path"
          [class.active-link]="isRouteActive(ruta.path)"
        >
          <i class="bx {{ ruta.icon }}"></i>
          <span>{{ ruta.label }}</span>
          <small class="route-description">{{ ruta.description }}</small>
        </a>
      }
    }
  </mat-menu>
</mat-toolbar>

<div class="navbar-spacer"></div>