:host {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #4caf50;
  --warn-color: #f44336;
  --border-color: #000000;
  --canvas-border: #000000;

  :root.dark-mode & {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #45a049;
    --warn-color: #d32f2f;
    --border-color: #ffffff;
    --canvas-border: #ffffff;
  }
}

.kruskal-page {
  padding: 20px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .form-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
      font-weight: bold;

      input {
        margin-left: 10px;
        padding: 5px;
      }
    }
  }

  .buttons {
    margin-top: 20px;
    button {
      margin-right: 10px;
      padding: 10px 20px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:last-child {
        background-color: #f44336;
      }
    }
  }

  .result {
    margin-top: 30px;
    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
      }
    }
  }
}
