<mat-card class="kruskal-page">
  <div class="main-container">
    <!-- Panel izquierdo -->
    <div class="left-panel">
      <h1>Algoritmo de Kruskal</h1>

      <div class="form-section">
        <mat-form-field appearance="fill">
          <mat-label>Número de vértices</mat-label>
          <input matInput type="number" [(ngModel)]="vertices" />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="onVertexCountChange()"
        >
          Actualizar Nodos
        </button>
      </div>

      <!-- Entrada de aristas -->
      <div class="form-section">
        <mat-form-field appearance="fill">
          <mat-label>Origen</mat-label>
          <input matInput type="number" [(ngModel)]="newSource" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Destino</mat-label>
          <input matInput type="number" [(ngModel)]="newDestination" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Peso</mat-label>
          <input matInput type="number" [(ngModel)]="newWeight" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addEdge()">
          Agregar Arista
        </button>
      </div>

      <h2>Lista de Aristas</h2>
      <mat-list class="result">
        <mat-list-item *ngFor="let edge of edges">
          ({{ edge.source }} → {{ edge.destination }}) con peso
          {{ edge.weight }}
        </mat-list-item>
      </mat-list>

      <!-- Botones de acción -->
      <div class="form-section">
        <mat-form-field appearance="fill">
          <mat-label>Modo</mat-label>
          <mat-select [(ngModel)]="mode">
            <mat-option value="min">Minimizar</mat-option>
            <mat-option value="max">Maximizar</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="runKruskal()">
          Resolver Kruskal
        </button>
      </div>

      <h2>MST:</h2>
      <mat-list class="result">
        <mat-list-item *ngFor="let edge of mst">
          ({{ edge.source + 1 }} → {{ edge.destination + 1 }}) con peso
          {{ edge.weight }}
        </mat-list-item>
      </mat-list>

      <div class="buttons">
        <button mat-raised-button color="warn" (click)="clearData()">
          Limpiar
        </button>
      </div>
    </div>

    <div class="right-panel">
      <canvas #graphCanvas class="graph-canvas"></canvas>
    </div>
  </div>
</mat-card>
<app-help-button [helpContent]="helpContent" />
