<h1>Algoritmo de Kruskal</h1>

<!-- Entrada de vértices con botón -->
<div>
  <label>Número de vértices:</label>
  <input type="number" [(ngModel)]="vertices">
  <button (click)="onVertexCountChange()">Actualizar Nodos</button>
</div>

<!-- Entrada de aristas -->
<div>
  <label>Origen:</label>
  <input type="number" [(ngModel)]="newSource">

  <label>Destino:</label>
  <input type="number" [(ngModel)]="newDestination">

  <label>Peso:</label>
  <input type="number" [(ngModel)]="newWeight">

  <button (click)="addEdge()">Agregar Arista</button>
</div>
<div>
  <button (click)="exportData()">Exportar JSON</button>

  <button (click)="triggerFileInput()">Importar JSON</button>
  <input #fileInput type="file" accept=".json" (change)="importData($event)" hidden />
</div>
<!--
<h2>Lista de Aristas</h2>
<ul>
  <li *ngFor="let edge of edges">
    ({{ edge.source }} → {{ edge.destination }}) con peso {{ edge.weight }}
  </li>
</ul>-->

<!-- Canvas para graficar -->
<canvas #graphCanvas width="600" height="600" style="border:1px solid black;"></canvas>

<!-- Botones de acción -->
<div>
  <label>
    Modo:
    <select [(ngModel)]="mode">
      <option value="min">Minimizar</option>
      <option value="max">Maximizar</option>
    </select>
  </label>
  <button (click)="runKruskal()">Resolver Kruskal</button>
</div>

<h2>MST:</h2>
<ul>
  <li *ngFor="let edge of mst">
    ({{(edge.source + 1) }} → {{(edge.destination + 1)}}) con peso {{edge.weight}}
  </li>
</ul>

<button (click)="clearData()">Limpiar</button>
