<app-button-bar
  (moveMode)="toggleMoveMode()"
  (connectionMode)="startConnection()"
  (removeMode)="removeObject()"
>
</app-button-bar>
<div id="container"></div>
<button id="open-tutorial">Ver Tutorial</button>

<div id="tutorial-overlay" class="overlay">
  <div class="tutorial-box">
    <video id="tutorial-video" class="tutorial-video" controls autoplay loop>
      <source src="" type="video/mp4" />
      Tu navegador no soporta videos.
    </video>
    <p id="tutorial-text"></p>
    <div class="buttons">
      <button id="prev-step">Atrás</button>
      <button id="next-step">Adelante</button>
      <button id="close-tutorial">Cerrar</button>
    </div>
  </div>
</div>
