<h1 mat-dialog-title>Configurar Conexion</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Peso</mat-label>
      <input
        matInput
        type="text"
        formControlName="peso"
        [class.is-invalid]="
          form.get('peso')?.invalid && (enviado || form.get('peso')?.touched)
        "
      />
      <mat-error
        *ngIf="
          form.get('peso')?.invalid && (enviado || form.get('peso')?.touched)
        "
      >
        {{ getMensajeError() }}
      </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="dirigido">Conexion Dirigida</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="onSave()">Guardar</button>
</div>
