<mat-card class="feature-card mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar>
      <i class="bx" [class]="feature.icon"></i>
    </div>
    <mat-card-title>{{ feature.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ feature.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="feature.route">
      {{ feature.buttonText }}
      <i class="bx bx-right-arrow-alt"></i>
    </button>
  </mat-card-actions>
</mat-card>
